<div class="about">
  <div class="title">About</div>
  <div class="avatar">
     <img src="<%- theme.about.avatar%>" alt="">
  </div>
  <div class="greetings">
    <h1>Hello, I'm <%- theme.about.name%></h1>
    <h4>a <%- theme.about.job%></h4>
    <p><%- theme.about.description%></p>
  </div>
  <div class="info">
   <div class="contact">
    <a href="<%- theme.about.github%>" target="_blank"><span class="fa fa-github"></span></a>
    </div>
    <div class="skills">
      <div class="sub-title">Skills</div>
       <p><%- theme.about.skills %></p>
    </div>
    <div class="interests">
    <div class="sub-title">Interests</div>
       <p><%- theme.about.interests%></p>
    </div>
    <div class="location">
    <div class="sub-title">Location</div>
         <p><%- theme.about.location%></p>
    </div>
     <div class="email">
    <div class="sub-title">Email</div>
         <p><%- theme.about.email%></p>
    </div>
  </div>
</div>